<div class="aboutUs">
  <div class="f-container">
    <div class="row aboutUs__items">
      <div class="col-sm-6 col-lg-4">
        <div class="aboutUs__item">
          <div class="aboutUs__item_title">
            <p>Nasdaq</p>
            <div class="aboutUs__course aboutUs__course_up d-none d-sm-block"> <!-- aboutUs__course_down если спад -->
              <span class="aboutUs__course_title">FRHC</span>
              <span class="aboutUs__course_value">43,97</span>
            </div>
          </div>
          <div class="aboutUs__item_desc">
            <p>Акции компании торгуются на крупнейшей бирже <strong>в Нью-Йорке</strong></p>
            <div class="aboutUs__course aboutUs__course_up d-inline-block d-sm-none"> <!-- aboutUs__course_down если спад -->
              <span class="aboutUs__course_title">FRHC</span>
              <span class="aboutUs__course_value">43,97</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="aboutUs__item">
          <div class="aboutUs__item_title">
            <p>Рейтинг S&P</p>
          </div>
          <div class="aboutUs__item_desc">
            <p>Рейтинг холдинга Freedom Holding Corp. от агенства <strong>S&P Global Ratings (B-/B),</strong> прогноз «позитивный»</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="aboutUs__item">
          <div class="aboutUs__item_title">
            <p>ruBB+</p>
          </div>
          <div class="aboutUs__item_desc">
            <p>Рейтинг кредитоспособности от <strong>«Эксперт РА»,</strong> прогноз «позитивный»</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="aboutUs__item">
          <div class="aboutUs__item_title">
            <p>$3 млрд</p>
          </div>
          <div class="aboutUs__item_desc">
            <p>Рыночная <strong>капитализация</strong> холдинга Freedom Holding Corp.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="aboutUs__item">
          <div class="aboutUs__item_title">
            <p>7 стран</p>
          </div>
          <div class="aboutUs__item_desc">
            <p>Холдинг ведет свою <strong>операционную</strong> деятельность</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="aboutUs__item">
          <div class="aboutUs__item_title">
            <p>12 лет</p>
          </div>
          <div class="aboutUs__item_desc">
            <p>Работаем на <strong>международных</strong> финансовых рынках</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>