<div class="contacts">
  <div class="f-container">
    <div class="contacts__wrapper row">
      <div class="col-lg-6">
        <div class="contacts__desc">
          <div class="contacts__title block-title">
            <h2>Контакты</h2>
          </div>
          <div class="contacts__phone">
            <a href="tel:+74952491162" class="text">+7 (495) 249-11-62</a>
          </div>
          <div class="contacts__address">
            <p>123112, г. Москва, 1-й Красногвардейский проезд, д. 15, МФК «Башня Меркурий Сити», 18 этаж</p>
          </div>
          <div class="contacts__eamil">
            Общие вопросы: <a href="mailto:info@bankffin.ru" class="text">info@bankffin.ru</a>
          </div>
          <div class="contacts__social">
            <a href="/" target="_blank">
              <img src="img/icons/linkedin-white.svg" alt="linkedin">
            </a>
            <a href="/" target="_blank">
              <img src="img/icons/mail-white.svg" alt="mail">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contacts__map">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adc365a74c6437e63c1f6ef4fdcf1d40f6aae446557b036ff1c0f4b9ff3a17453&amp;source=constructor" width="616" height="616" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>