<div class="course">
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__down">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">-0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__up">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__up">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__down">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__up">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__up">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__down">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__up">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__down">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div><div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__down">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__up">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
  <div class="course__item">
    <span class="course__item_title">FRHC</span>
    <div class="course__item_group course__down">
      <span class="course__item_value">43,97</span>
      <span class="course__item_value course__difference">+0.94%</span>
    </div>
  </div>
</div>