<div class="footer">
  <div class="f-container">
    <div class="footer__wrapper row">
      <div class="col-md-3">
        <div class="footer__logo_group d-flex align-items-center">
          <a href="/">
            <img src="img/logo/logo_finance.svg" alt="logo finance">
          </a>
          <a href="/">
            <img src="img/logo/logo_bank.svg" alt="logo-bank">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer__links">
          <a href="/">Раскрытие информации</a>
          <a href="/">Лицензии</a>
        </div>
      </div>
      <div class="col-md-5">
        <div class="footer__info">
          <div class="footer__made_in d-flex">
            <img src="img/icons/made-in.svg" alt="red collar">
            <p>Сделано в <a href="/">Red Collar</a></p>
          </div>
          <div class="footer__copyright">
            <p>© 2011 – 2021 ООО ИК «Фридом Финанс»</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>