<div class="formBlock mt160" id="formBlock">
  <div class="f-container">
    <div class="formBlock_wrapper row">
      <div class="col-lg-6">
        <div class="formBlock__desc">
          <div class="formBlock__title block-title">
            <h2>Свяжитесь с нами</h2>
          </div>
          <div class="formBlock__subtitle">
            <p>Чтобы воспользоваться нашими рекомендациями станьте клиентом «Фридом Финанс»</p>
          </div>
          <div class="formBlock__desc_items">
            <div class="formBlock__desc_item">
              <span>За 5 минут</span>
              <p>Бесплатное открытие за 5 минут</p>
            </div>
            <div class="formBlock__desc_item">
              <span>2000 инструментов</span>
              <p>Более 2000 инструментов для торговли</p>
            </div>
            <div class="formBlock__desc_item">
              <span>Паспорт</span>
              <p>Более 2000 инструментов для торговли</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-sm-flex justify-content-sm-center">
        <div class="formBlock__form" id="submitApplication">
          <form action="/">
            <div class="formBlock__form_group">
              <div class="formBlock__field_group">
                <div class="formBlock__field formBlock__field_error"> <!-- Чтобы вывести сообщение об ошибке, необходимо добавить класс "formBlock__field_error"-->
                  <input
                      type="text"
                      placeholder="Имя *"
                      name="firstname"
                      autocomplete="off"
                  >
                </div>
                <span class="formBlock__field_error_message">Некорректно введённые данные</span>
              </div>
              <div class="formBlock__field_group">
                <div class="formBlock__field">
                  <input
                      type="text"
                      placeholder="Фамилия"
                      name="lastname"
                      autocomplete="off"
                  >
                </div>
              </div>
            </div>
            <div class="formBlock__field">
              <input
                  type="tel"
                  placeholder="Телефон *"
                  name="phone"
                  autocomplete="off"
              >
            </div>
            <div class="formBlock__field">
              <input
                  type="email"
                  placeholder="E-mail"
                  name="E-mail"
                  autocomplete="off"
              >
            </div>
            <div class="formBlock__label_group">
              <div class="checkbox">
                <input class="custom-checkbox" type="checkbox" id="privacy-policy" name="privacy-policy" value="privacyPolicy">
                <label for="privacy-policy">Я согласен с условиями передачи информации</label>
              </div>

              <div class="checkbox">
                <input class="custom-checkbox" type="checkbox" id="subscribe-news" name="subscribe-news" value="subscribeNews">
                <label for="subscribe-news">Подпишитесь, чтобы быть в курсе последних новостей отрасли, продуктов и разработчиков</label>
              </div>
            </div>
            <button class="freedom__btn" type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>