<div class="f-container">
  <nav class="navbar navbar-expand-md p-0">
    <a class="navbar-brand" href="/">
      <img src="img/logo/logo.svg" alt="logotip">
    </a>
    <button id="headerNavbarToggler" class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="headerNavbar">
      <ul class="navbar-nav mr-auto" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar">
        <li class="nav-item active">
          <a class="nav-link" href="#serviceBlock">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sectorBlock">Секторы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#transactions">Сделки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Команда</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacts">Контакты</a>
        </li>
      </ul>
      <div class="header__services d-md-flex d-none align-items-center">
        <div class="header__services_lang d-flex">
          <button class="header__services_lang_item active">Ru</button>
          <button class="header__services_lang_item" disabled>En</button>
        </div>
        <div class="header__services_btn">
          <a href="#formBlock"><button class="freedom__btn">Оставить заявку</button></a>
        </div>
      </div>
      <div class="header__services_mobile d-md-none d-sm-block">
        <p class="header__services_phone">
          <a href="tel:+74952491162" class="text">+7 (495) 249-11-62</a>
        </p>
        <p class="header__services_address">
          123112, г. Москва, 1-й Красногвардейский проезд, д. 15, МФК «Башня Меркурий Сити», 18 этаж
        </p>
        <p class="header__services_email">
          Общие вопросы: <a href="mailto:info@bankffin.ru" class="text">info@bankffin.ru</a>
        </p>
        <div class="header__services_social">
          <a href="/" target="_blank">
            <img src="img/icons/mail.svg" alt="mail">
          </a>
          <a href="/" target="_blank">
            <img src="img/icons/linkedin.svg" alt="linkedin">
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>