<div class="serviceBlock"  id="serviceBlock">
  <div class="f-container">
    <div class="serviceBlock__desc">
      <div class="serviceBlock__title">
        <h2>Cтратегия кратного роста вашего бизнеса</h2>
      </div>
      <div class="serviceBlock__desc_vn d-none d-md-block">
        <p>
          Глобальная экспертиза и доступ к мировым рынкам капитала позволяет Инвестиционному Банку «Фридом Финанс»
          формировать согласованные решения для: Акционеров и собственников, Совета директоров и менеджмента,
          Взаимоотношений с инвесторами.
        </p>
      </div>
    </div>
    <div class="serviceBlock__items">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="serviceBlock__item" data-sidemodal="serviceSideModal">
            <div class="serviceBlock__item_group">
              <div class="serviceBlock__item_desc">
                <div class="serviceBlock__item_title">
                  <p>Слияния и поглощения</p>
                </div>
                <div class="serviceBlock__item_desc_vn">
                  <p>Консультирование проведения сделки M&A
                    для корпоративных и институциональных клиентов</p>
                </div>
                <div class="serviceBlock__item_detail d-block d-sm-none">
                  <button>Подробнее</button>
                </div>
              </div>
              <div class="serviceBlock__item_number">
                <span>01</span>
              </div>
            </div>
            <div class="serviceBlock__item_image zoom-in" style="background-image: url('img/serviceBlock1.jpg')"></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="serviceBlock__item" data-sidemodal="serviceSideModal">
            <div class="serviceBlock__item_group">
              <div class="serviceBlock__item_desc">
                <div class="serviceBlock__item_title">
                  <p>Привлечение капитала</p>
                </div>
                <div class="serviceBlock__item_desc_vn">
                  <p>Консультирование проведения сделки M&A
                    для корпоративных и институциональных клиентов</p>
                </div>
                <div class="serviceBlock__item_detail d-block d-sm-none">
                  <button>Подробнее</button>
                </div>
              </div>
              <div class="serviceBlock__item_number">
                <span>02</span>
              </div>
            </div>
            <div class="serviceBlock__item_image zoom-in" style="background-image: url('img/serviceBlock2.jpg')"></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="serviceBlock__item" data-sidemodal="serviceSideModal">
            <div class="serviceBlock__item_group">
              <div class="serviceBlock__item_desc">
                <div class="serviceBlock__item_title">
                  <p>Выпуск облигаций</p>
                </div>
                <div class="serviceBlock__item_desc_vn">
                  <p>Консультирование проведения сделки M&A
                    для корпоративных и институциональных клиентов</p>
                </div>
                <div class="serviceBlock__item_detail d-block d-sm-none">
                  <button>Подробнее</button>
                </div>
              </div>
              <div class="serviceBlock__item_number">
                <span>03</span>
              </div>
            </div>
            <div class="serviceBlock__item_image zoom-in"  style="background-image: url('img/serviceBlock3.jpg')"></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="serviceBlock__item" data-sidemodal="serviceSideModal">
            <div class="serviceBlock__item_group">
              <div class="serviceBlock__item_desc">
                <div class="serviceBlock__item_title">
                  <p>IPO/SPO</p>
                </div>
                <div class="serviceBlock__item_desc_vn">
                  <p>Консультирование проведения сделки M&A
                    для корпоративных и институциональных клиентов</p>
                </div>
                <div class="serviceBlock__item_detail d-block d-sm-none">
                  <button>Подробнее</button>
                </div>
              </div>
              <div class="serviceBlock__item_number">
                <span>04</span>
              </div>
            </div>
            <div class="serviceBlock__item_image zoom-in" style="background-image: url('img/serviceBlock4.jpg')"></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="serviceBlock__item" data-sidemodal="serviceSideModal">
            <div class="serviceBlock__item_group">
              <div class="serviceBlock__item_desc">
                <div class="serviceBlock__item_title">
                  <p>Корпоративный брокер</p>
                </div>
                <div class="serviceBlock__item_desc_vn">
                  <p>Консультирование проведения сделки M&A
                    для корпоративных и институциональных клиентов</p>
                </div>
                <div class="serviceBlock__item_detail d-block d-sm-none">
                  <button>Подробнее</button>
                </div>
              </div>
              <div class="serviceBlock__item_number">
                <span>05</span>
              </div>
            </div>
            <div class="serviceBlock__item_image zoom-in" style="background-image: url('img/serviceBlock5.jpg')"></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="serviceBlock__item" data-sidemodal="serviceSideModal">
            <div class="serviceBlock__item_group">
              <div class="serviceBlock__item_desc">
                <div class="serviceBlock__item_title">
                  <p>Структурирование</p>
                </div>
                <div class="serviceBlock__item_desc_vn">
                  <p>Консультирование проведения сделки M&A
                    для корпоративных и институциональных клиентов</p>
                </div>
                <div class="serviceBlock__item_detail d-block d-sm-none">
                  <button>Подробнее</button>
                </div>
              </div>
              <div class="serviceBlock__item_number">
                <span>06</span>
              </div>
            </div>
            <div class="serviceBlock__item_image zoom-in" style="background-image: url('img/serviceBlock6.jpg')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>