<div class="team mt160">
  <div class="f-container">
    <div class="team__title block-title">
      <h2>Команда</h2>
    </div>
    <div class="team__items row d-none d-sm-flex">
      <div class="team__item col-md-6 col-lg-4">
        <div
            class="team__item_vn"
            style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team1.jpg');"
        >
          <div class="team__group">
            <div class="team__item_name">
              <p>Владимир Козлов</p>
            </div>
            <div class="team__item_role">
              <p>Финансовый эксперт</p>
            </div>
          </div>
        </div>
      </div>
      <div class="team__item col-md-6 col-lg-4">
        <div
            class="team__item_vn"
            style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team2.jpg');"
        >
          <div class="team__group">
            <div class="team__item_name">
              <p>Георгий Волосников</p>
            </div>
            <div class="team__item_role">
              <p>Финансовый эксперт</p>
            </div>
          </div>
        </div>
      </div>
      <div class="team__item col-md-6 col-lg-4">
        <div
            class="team__item_vn"
            style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team3.jpg');"
        >
          <div class="team__group">
            <div class="team__item_name">
              <p>Игорь Клюшнев</p>
            </div>
            <div class="team__item_role">
              <p>Финансовый эксперт</p>
            </div>
          </div>
        </div>
      </div>
      <div class="team__item col-md-6 col-lg-4">
        <div
            class="team__item_vn"
            style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team4.jpg');"
        >
          <div class="team__group">
            <div class="team__item_name">
              <p>Сергей Носов</p>
            </div>
            <div class="team__item_role">
              <p>Финансовый эксперт</p>
            </div>
          </div>
        </div>
      </div>
      <div class="team__item col-md-6 col-lg-4">
        <div
            class="team__item_vn"
            style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team5.jpg');"
        >
          <div class="team__group">
            <div class="team__item_name">
              <p>Станислав Дрейлинг</p>
            </div>
            <div class="team__item_role">
              <p>Финансовый эксперт</p>
            </div>
          </div>
        </div>
      </div>
      <div class="team__item col-md-6 col-lg-4">
        <div
            class="team__item_vn"
            style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team6.jpg');"
        >
          <div class="team__group">
            <div class="team__item_name">
              <p>Тимур Турлов</p>
            </div>
            <div class="team__item_role">
              <p>Финансовый эксперт</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="team__mob d-block d-sm-none">
      <div class="swiper-container team__mobile_slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide team__item">
            <div
                class="team__item_vn"
                style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team1.jpg');"
            >
              <div class="team__group">
                <div class="team__item_name">
                  <p>Владимир Козлов</p>
                </div>
                <div class="team__item_role">
                  <p>Финансовый эксперт</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__item">
            <div
                class="team__item_vn"
                style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team2.jpg');"
            >
              <div class="team__group">
                <div class="team__item_name">
                  <p>Георгий Волосников</p>
                </div>
                <div class="team__item_role">
                  <p>Финансовый эксперт</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__item">
            <div
                class="team__item_vn"
                style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team3.jpg');"
            >
              <div class="team__group">
                <div class="team__item_name">
                  <p>Игорь Клюшнев</p>
                </div>
                <div class="team__item_role">
                  <p>Финансовый эксперт</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__item">
            <div
                class="team__item_vn"
                style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team4.jpg');"
            >
              <div class="team__group">
                <div class="team__item_name">
                  <p>Сергей Носов</p>
                </div>
                <div class="team__item_role">
                  <p>Финансовый эксперт</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__item">
            <div
                class="team__item_vn"
                style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team5.jpg');"
            >
              <div class="team__group">
                <div class="team__item_name">
                  <p>Станислав Дрейлинг</p>
                </div>
                <div class="team__item_role">
                  <p>Финансовый эксперт</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide team__item">
        <div
            class="team__item_vn"
            style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.25%, #000000 100%), url('img/team6.jpg');"
        >
          <div class="team__group">
            <div class="team__item_name">
              <p>Тимур Турлов</p>
            </div>
            <div class="team__item_role">
              <p>Финансовый эксперт</p>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>