.footer {
    background-color: $FooterBg;
    border-top: 2px solid rgba(224, 224, 224, .2);

    a {
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
    }

    p {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
    }

    &__wrapper {
        min-height: 108px;
        align-items: center;
    }

    &__copyright {
        float: right;

        p {
            color: rgba(255, 255, 255, .5);
        }
    }

    &__logo_group, &__links {
        a:not(:first-child) {
            margin-left: 40px;
        }
    }
}