@font-face {
    font-family: "GTAmericaLCG";
    src: url("../fonts/GTAmericaLCG-Rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GTAmericaLCG";
    src: url("../fonts/GTAmericaLCG-Md.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GTAmericaLCG";
    src: url("../fonts/GTAmericaLCG-Bd.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
