// Variables
$Primary: #2D7D2F;
$PrimaryBold: #114F13;
$Main: #242624;
$Secondary: #F7F7F7;
$LightGreen: #f5f7f5;
$TagBgRed: #F7CFCF;
$TagBgGreen: #E1EDD8;
$Stroke: #E0E0E0;
$Green: #0C5C0E;
$ServiceItemHover: #EEEDED;
$GrayBg: #EFEFEF;
$BlockBg: #F4F6F5;