.freedom {

    &__header {
        padding-top: 14px;
        padding-bottom: 16px;
    }

    &__btn {
        background-color: $Primary;
        font-weight: 500;
        color: #ffffff;
        border-radius: 82px;
        transition: background-color .2s;

        &:hover:not(:disabled), &:focus:not(:disabled), &:active:not(:disabled), &:not(:disabled):focus:active {
            background-color: $PrimaryBold;
        }
    }
}

.menuActive {
    overflow: hidden;

    .freedom__header {
        min-height: 100vh;
    }
}

.block-title {
    h2 {
        font-weight: 700;
        font-size: 54px;
        line-height: 64px;
        margin-bottom: 0;
    }
}

.sliderArrow {

    &__group {
        display: flex;
    }

    &__btn {
        min-width: 48px;
        height: 48px;
        background-color: $Primary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: background-color .2s;

        &:last-child {
            margin-left: 16px;
        }

        &:hover {
            background-color: $PrimaryBold;
        }

        &.swiper-button-disabled {
            background-color: $GrayBg;
        }
    }
}

.mt160 {
    margin-top: 160px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: flex-start;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid $Primary;
    border-radius: 4px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    cursor: pointer;
}

.custom-checkbox:not(:disabled):active+label::before {
    border-color: $Primary;
}

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: $Primary;
}

.custom-checkbox:checked+label::before {
    border-color: $Primary;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 4.25L4.10526 7L10.5 1' stroke='%232D7D2F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

input, textarea {
    &::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .1s; transition: opacity .1s; }
    &:-moz-placeholder { opacity: 1; -moz-transition: opacity .1s; transition: opacity .1s; }
    &::-moz-placeholder { opacity: 1; -moz-transition: opacity .1s; transition: opacity .1s; }
    &:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .1s; transition: opacity .1s; }
    &::placeholder { opacity: 1; transition: opacity .1s; }

    &:focus::-webkit-input-placeholder { opacity: 0; }
    &:focus:-moz-placeholder { opacity: 0; }
    &:focus::-moz-placeholder { opacity: 0; }
    &:focus:-ms-input-placeholder { opacity: 0; }
    &:focus::placeholder { opacity: 0; }
}

button:disabled,
button[disabled]{
    background-color: $GrayBg;
}

.sideModalActive {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .3);
        z-index: 100;
    }
}

.topbar__back {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background: transparent;
    border: none;
}

.topbar__back.topbar__back--active {
    display: block;
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
    width: calc(100% - 46px)!important;
    left: 22px!important;
    top: 9px!important;
    border-radius: 19px!important;
}

.swiper-pagination-progressbar {
    background: rgba(224, 224, 224, .5)!important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: $Primary!important;
    border-radius: 20px!important;
}