@media screen and (max-width: 1500px) {
  .container-fluid.investments, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl {
    background-position: right 85%, 125% 133px, left top;
    background-size: auto, 800px, auto;
  }
  .investments-platform-advantage .advantages-content {
    max-width: 80%;
  }
}
@media screen and (max-width: 1460px) {
  .news-container {
    .container-fluid {
      &.right-margin-none {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .investments-platform-advantage {
    background-size: 49%, 46%;
  }
  .investments-platform-advantage .advantages-content {
    max-width: 90%;
  }
}

@media screen and (max-width: 1400px) {
  .banner-container {
    .banner-content {
      .header-h1 {
        font-size: 48px;
        line-height: 60px;
      }

      .header-h1-gradient {
        font-size: 48px;
        line-height: 60px;
      }
    }
  }
  .about-container {
    .about-grid {
      padding-top: 0;
    }
  }
  .container-fluid.investments, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl {
    background-position: right 85%, 124% 133px, left top;
    background-size: auto, 700px, auto;
  }
  .terms-container .project-container .project-content .project-card {
    height: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .button-pa {
    font-size: 16px;
    width: 200px;
  }
  .banner-container {
    min-height: 850px;

    .banner-content {
      .form-text span {
        display: contents;
      }

      .header-h1 {
        font-size: 36px;
        line-height: 42px;
      }

      .header-h1-gradient {
        font-size: 36px;
        line-height: 42px;
      }

      .title {
        font-size: 24px;
        line-height: 24px;
      }

      .text {
        font-size: 16px;
      }
    }
  }
  .about-container {
    min-height: 100vh;

    .about-grid {
      padding-top: 0;
    }

    img {
      max-width: 100%;
    }
  }
  .platform-advantage {
    min-height: 100vh;
  }
  .how-it-works {
    min-height: 580px;
  }
  .info {
    min-height: 900px;
    background: linear-gradient(288.38deg, #D0E0FE -15.25%, rgba(229, 236, 248, 0) 109.43%);
  }
  .action-container {
    min-height: auto;
    margin-top: 80px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .news-container {
    min-height: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .buttons {
    .btn {
      padding: 2px 30px;
      margin-right: 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 54px;
      color: #FFFFFF;
      border-radius: 5px;
    }
  }
  .container-fluid.index {
    background-image: url(../img/index/nout.png), url(../img/index/nout-back.png);
    background-position: right 8%, right top;
    background-size: 50%, 57%;
  }

}

@media screen and (max-width: 1255px) {
  .investments-platform-advantage {
    min-height: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    .faq-img {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      img {
        width: 42px;
      }
    }
    .advantages-content .advantage .advantage-text {
      .card-title {
        font-size: 24px;
        line-height: 22px;
        margin-bottom: 15px;
      }
      .card-text {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .investments-platform-advantage .advantages-content {
    margin-top: 80px;
    padding-right: 40px;
    .advantage {
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .footer {
    .title {
      font-size: 18px;
    }

    .text {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .tags-container {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1180px) {
  .how-it-works {
    .card-number {
      padding: 15px 10px;
    }
  }
  .platform-advantage {
    .card {
      .card-body h5 {
        font-size: 16px;
      }
    }

    .btn {
      padding: 20px;
    }
  }
  .info {
    .info-container {
      margin-top: 30px;
    }
    .questions-container a {
      font-size: 16px;
      margin: 0;
    }
  }
  .faq-card-title {
    font-size: 22px;
  }
  .news-container {
    .news-card {
      .news-title {
        .white-text {
          font-size: 22px;
          line-height: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .active-projects .project-container .project-card .card-body {
    .project-content {
      .project-title {
        font-size: 20px;
      }

      .project-security {
        font-size: 16px;
      }
    }

    .project-props .props-count {
      font-size: 15px;
    }
  }
  .active-news-list .news-list-content .news-list-card.news-list-0 {
    background-position-x: -170px;
  }

}

@media screen and (max-width: 1030px) {
  .how-it-works {
    height: auto;

    .cards {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;

      .col-card {
        margin: 25px 0 25px 0;
        max-width: 100%;
        width: 48%;
        position: relative;

        &:nth-child(odd) {
          margin-right: 25px;
        }

        &:last-child {
          margin-right: 0;
        }

        .card-number {
          height: 100%;
          padding: 15px;
        }
      }
    }

    .title {
      margin-top: 30px;
    }

    .title, .text {
      text-align: left;
      padding: 0;
    }

    .number {
      margin: 0;
      position: absolute;
      top: -30px;
      left: 15px;
    }
  }
  .how-it-works {
    margin-bottom: 80px;
  }
  .navbar-expand-lg.top-menu .nav-link {
    padding-right: 10px;
    padding-left: 15px;
  }
  .about-container .about-content .container-title {
    font-size: 24px;
    line-height: 38px;
  }
  .banner-container {
    min-height: 100%;
    padding-top: 168px;
  }
  .project-props .amount {
    min-width: 98px;
  }
  .action-container {
    background-position-x: calc(100% - 50px);
  }
  .container-fluid.investments .investments-banner, .investments.container-sm .investments-banner, .investments.container-md .investments-banner, .investments.container-lg .investments-banner, .investments.container-xl .investments-banner {
    min-height: auto;
  }
  .container-fluid.investments, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl {
    background-position: 103% 104%, 138% 111px, left top;
    background-size: 250px, 704px, auto;
  }
  .investments-banner.banner-container .form-text {
    max-width: 48%;
  }
  .terms-container .project-container .project-content .card-body {
    font-size: 18px;
    line-height: 24px;
    padding: 35px 70px 35px 20px;
  }
}

@media screen and (width: 1024px) {
  .container-fluid.index {
    background-position: right 8%, right top, left 100%;
    background-image: url(../img/index/nout.png), url(../img/index/nout-back.png), url(../img/index/about-back.png);
    background-repeat: no-repeat;
    background-size: 50%, 57%, 50%;
  }
  .investments-platform-advantage .advantages-content {
    padding-right: 15px;
  }
}

@media screen and (max-width: 992px) {
  .button-pa {
    font-size: 16px;
  }
  .container {
    padding: 0 10px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .how-it-works {
    min-height: 600px;

    .col-card {
      margin-left: 15px;
    }

    .title {
      font-size: 18px;
      margin-top: 20px;
      padding: 0;
    }

    .card-number {
      padding: 20px 10px;
    }
  }

  .buttons {
    .btn {
      padding: 0;
      width: 160px;
      font-size: 16px;
    }
  }
  .banner-container {
    min-height: auto;

    .banner-content {
      .title {
        font-size: 22px;
        line-height: 24px;
      }

      .text {
        font-size: 16px;
      }

      .buttons {
        .btn-green span {
          display: none;
        }
      }
    }
  }

  .about-container {
    min-height: 100%;
    margin-top: 60px;

    .about-content {
      .container-title {
        font-size: 28px;
        line-height: 1.3;
      }

      .text {
        font-size: 16px;
        line-height: 1.8;
        margin-top: 35px;
      }
    }
  }
  .platform-advantage {
    .text {
      font-size: 16px;
      line-height: 1.8;
      margin-top: 35px;
    }
  }
  .active-projects {
    .container-title {
      font-size: 36px;
      line-height: 1.3;
    }
  }

  .action-container {
    .container-title {
      font-size: 36px;
      line-height: 60px;
    }

    .text {
      font-size: 18px;
      line-height: 36px;
    }

    .btn {
      font-size: 18px;
      line-height: 40px;
      width: 200px;
    }
  }
  .navbar-expand-lg.top-menu {
    .nav-link {
      padding-right: 13px;
      padding-left: 22px;
      font-size: 17px;
      letter-spacing: 0.3px;
    }
  }
  .news-container .container-fluid.right-margin-none {
    padding-left: 10px;
  }
  .banner-container {
    align-items: start;
    padding-top: 120px;
    padding-left: 0;
    padding-right: 0;

    .banner-content .form-text {
      max-width: 85%;
    }
  }
  .investments-banner.banner-container .form-text {
    max-width: 47%;
  }
}

@media screen and (max-width: 991px) {
  .container-fluid.index {
    height: 100%;
    background-image: url(../img/index/nout.png), url(../img/index/nout-back.png);
    background-position: right 13%, right 10%;
    background-repeat: no-repeat;
    background-size: 53%, 54%;
  }
  .top-menu {
    padding: 12px 15px !important;
    background-color: #fff !important;
  }
  .navbar-toggler-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar-toggler__user {
    display: flex;
    align-items: center;

    a {
      height: 54px;
    }
  }
  .navbar-brand img {
    height: 48px;
  }
  .navbar-toggler-user {
    width: 55px;
    height: 100%;
    border-radius: 5px;

    img {
      width: 22px;
    }
  }
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
  .navbar-toggler {
    border-radius: 5px;
    margin-right: 10px;
    height: 54px;
    padding: 0;
    width: 55px;
  }
  .active-news-list .news-list-content .news-list-card.news-list-0 {
    background-position-x: unset;
  }
}

@media screen and (max-width: 970px) {
  .container-fluid.investments, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl, .investments.container-sm, .investments.container-md, .investments.container-lg, .investments.container-xl {
    background-position: 103% 104%, 161% 100px, left top;
    background-size: 206px, 690px, auto;
  }
}

@media screen and (max-width: 911px) {
  .investments-platform-advantage {
    .container-title {
      font-size: 30px;
      line-height: 39px;
    }
    .advantages-content {
      padding-right: 10px;
    }
  }

}
@media screen and (max-width: 900px) {
  .faq-card-title {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 36px;
  }
  .info {
    .questions-container a {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .info-container {
      padding: 0 20px;
    }
  }
  .col-md-4.col-sm-12.info-content {
    padding: 0 10px;
  }
  .container-fluid.investments .investments-banner {
    .col-card {
      min-width: auto;
      margin-right: 30px;
      width: 31%;
      &:last-child {
        margin-right: 0;
      }
    }
    .card-title {
      padding: 0;
    }
    .card-number {
      min-height: auto;
      height: 100%;
    }
    .cards {
      justify-content: space-between;
      align-items: stretch;
    }
  }
  .container-fluid.investments {
    background-position: 102% 85%, 144% 100px, left top;
    background-size: 150px, 600px, auto;
  }
  .container.investments-banner.banner-container .header-h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 850px) {
  .active-projects .project-container {
    .project-card .card-body .project-content {
      padding: 10px 20px 15px;
      .project-title {
        font-size: 16px;
        line-height: 21px;
      }
    }
    .col-sm-4.project-content {
      padding: 8px;
    }
  }
}

@media screen and (max-width: 805px) {
  .banner-container .banner-content {
    .header-h1, .header-h1-gradient {
      font-size: 32px;
    }

    .form-text {
      margin-top: 30px;
      font-size: 18px;
      line-height: 30px;
    }

    .statistic {
      margin-top: 60px;
    }
  }
  .buttons {
    margin-top: 50px;
  }
  .investments-platform-advantage {
    .faq-img {
      width: 70px;
      height: 70px;
      margin-right: 10px;
      border-radius: 5px;
    }
    .advantages-content {
      margin-top: 50px;
      .advantage .advantage-text {
        .card-title {
          font-size: 18px;
          line-height: 18px;
          margin-bottom: 10px;
        }
        .card-text {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  .active-news-list .news-list-content .news-list-card.news-list-0 {
    background-position-x: -170px;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid.index, .index.container-sm, .index.container-md, .index.container-lg, .index.container-xl {
    background-position: right 13%, right 10%, left 125%;
  }
  .platform-advantage {
    .card-container {
      padding-left: 20px;
    }
    .card-content {
      padding: 7px;
    }
  }
  .action-container .text {
    margin: 30px 0 30px;
  }
  .container-fluid.investments {
    background-position: 102% 85%, 129% 100px, left top;
    background-size: 150px, 500px, auto;
  }
  .container-fluid.investments .investments-banner .card-title {
    font-size: 18px;
  }
  .investments-platform-advantage {
    .container-title {
      font-size: 27px;
    }
    .advantages-content .advantage {
      margin-bottom: 50px;
    }
  }
  .investments-platform-advantage-mob {
    display: none;
  }
  .faq {
    background: url(../img/index/faq.png) no-repeat top right;
    background-size: 100%;
  }
  .active-news-list {
    margin-top: 5px;
    margin-bottom: 35px;
  }
  .container.news {
    margin-top: 90px;
  }

}

@media screen and (max-width: 767px) {
  .active-projects {
    background: #f1f5fd;
    margin-bottom: 0;

    .project-container {
      &.desktop-block {
        display: none;
      }

      &.mobile-block {
        display: block;
      }

      .buttons {
        display: none;
      }

      .project-content {
        width: 272px;
      }

      .project-card {
        border-radius: 16px;
        margin-bottom: 80px;

        .card-body {
          .project-props {
            & > div {
              border-right: none;
            }

            .props-count {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .about-container {
    min-height: auto;
    padding-top: 120px;
    padding-bottom: 120px;

    .about-content {
      min-height: auto;

      .who-we-more {
        display: block;
      }

      .text {
        display: none;
      }

      .container-title {
        font-size: 24px;
      }
    }

    .about-grid img {
      display: none;
    }
  }
  .platform-advantage {
    .text,
    .desktop-block {
      display: none;
    }

    .mobile-block {
      display: block;
    }

    .card-container {
      padding-left: 15px;
      padding-right: 15px!important;
      margin-top: 40px;
      margin-bottom: 60px;

      .card-content {
        width: 278px;
        height: 140px;
        &:nth-child(2), &:nth-child(4) {
          margin-top: 0;
        }
      }
    }

    .card {
      box-shadow: none;
      height: inherit;
      margin: 0;
    }

    .btn-group {
      width: 100%;

      a {
        width: 50%;

        .btn {
          width: 100%;
          font-size: 18px;
        }
      }
    }
  }
  .container-fluid.index {
    height: 100%;
    background-image: url(../img/index/nout.png), url(../img/index/mobile-banner-circle.png);
    background-position: right 30%, right 18%;
    background-repeat: no-repeat;
    background-size: 37%, 32%;
  }
  .banner-container {
    align-items: start;
    padding-top: 120px;
    padding-left: 0;
    padding-right: 0;

    .banner-content .form-text {
      max-width: 72%;
    }
  }
  .banner-container .banner-content .stat {
    flex: unset;
    margin-right: 40px;
  }
  .platform-advantage {
    min-height: unset;
    background: linear-gradient(1.13deg, rgba(229, 236, 248, 0) 4.02%, rgba(229, 236, 248, 0.62) 97.21%);
    padding-top: 80px;
    p {
      text-align: center;
    }
  }
  .advantage-slider-card {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }
  .platform-advantage .card {
    .card-img-top {
      width: 50px;
      height: 50px;
      margin-top: 0;
    }
    .card-body {
      padding: 0 0 0 10px;
      text-align: left;
      h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        margin: 0;
      }
    }
  }
  .questions-container.collapse:not(.show) {
    display: none;
  }
  .info {
    min-height: auto;
    .info-content-block {
      padding-top: 80px;
      width: 100%;
    }
  }
  .info-title__info-link {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .info-title-link {
    color: #58BF91;
    font-weight: bold;
    font-size: 22px;
  }
  .faq-img__card-title {
    display: flex;
  }
  .faq-card-title {
    margin-top: 17px;
    margin-left: 25px;
    font-size: 22px;
  }

  .faq-panel {
    position: relative;
  }

  .faq-card-show-hide::after {
    content: "Показать";
    bottom: 15px;
    position: absolute;
    margin-left: 123px;
    color: #58BF91;
    text-decoration: underline;
    font-weight: bold;
  }

  .faq-panel[aria-expanded="true"] .faq-card-show-hide::after {
    content: "Скрыть";
    margin-left: 0;
    bottom: 0;
  }
  .col-md-4.col-sm-12.info-content {
    margin-bottom: 20px;
  }
  .info .questions-container a:last-child {
    margin-bottom: 30px;
  }
  .active-projects {
    min-height: auto;
    padding-top: 80px;
  }
  .info {
    .info-container {
      margin-bottom: 70px;
    }
    .questions-container a {
      font-size: 16px;
    }
  }
  .news-container {
    .swiper__arrow-container {
      display: none;
    }
  }
  .container.investments-banner.banner-container .banner-content .form-text {
    max-width: 46%;
  }
  .terms-container .project-container .project-content {
    padding-top: 25px;
    margin-bottom: 20px;
    .project-card {
      min-height: 130px;
    }
    .card-body {
      font-size: 23px;
      line-height: 32px;
      padding: 35px 70px 35px 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .terms-container {
    min-height: auto;
    margin-top: 80px;
    margin-bottom: 60px;
    .project-container {
      margin-top: 20px;
    }
  }
  .investments-platform-advantage .advantages-content {
    display: none;
  }
  .advantage-title-block {
    display: flex;
    align-items: center;
  }
  .investments-platform-advantage .faq-img {
    flex-shrink: 0;
  }
  .advantage-title-block .card-title {
    color: #29367E;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
  }
  .advantage-text .card-text {
    color: #5E6487;
    font-size: 16px;
    line-height: 24px;
    margin-top: 13px;
  }
  .investments-platform-advantage-mob {
    display: block;
    margin-top: 40px;
  }
  .investments-platform-advantage {
    margin-bottom: 80px;
    min-height: 800px;
    align-items: start;
    background-size: 75%, 67%;
    background-position: right bottom;
  }

}

@media screen and (max-width: 675px) {
  .how-it-works {
    .cards {
      flex-direction: column;
      margin-top: 0;

      .col-card {
        width: 100%;
      }
    }
  }
  .container-desc {
    color: #5ABB97;
  }
  .how-it-works {
    background: none;
  }
  .platform-advantage .container-desc {
    color: #508AD8;
  }
  .container-fluid.investments {
    background-position: 102% 85%, 154% 100px, left top;
    background-size: 150px, 450px, auto;
  }
  .container-fluid.investments .investments-banner {
    .col-card {
      margin-right: 15px;
      width: 32%;
    }
    .card-number {
      padding: 26px 18px 26px;
    }
  }
  .advantage-title-block .card-title {
    font-size: 18px;
    line-height: 26px;
  }
  .advantage-text .card-text {
    font-size: 15px;
    line-height: 21px;
    margin-top: 10px;
  }
  .investments-platform-advantage-mob {
    margin-top: 30px;
  }
  .investments-platform-advantage {
    min-height: 700px;
  }


}

@media screen and (max-width: 650px) {
  .banner-container .banner-content .stat {
    margin-right: 25px;
  }
  .container-fluid.index {
    background-position: right 27%, right 17%;
    background-size: 37%, 33%;
  }
  .action-container {
    .container-title {
      font-size: 26px;
      line-height: 30px;
    }
    .text {
      line-height: 27px;
    }
    .btn {
      font-size: 16px;
      line-height: 30px;
      width: 155px;
    }
  }
  .container-fluid.investments .investments-banner {
    .cards {
      flex-direction: column;
    }
    .col-card {
      width: 100%;
      position: relative;
      margin: 25px 0 25px 0;
      p {
        text-align: left;
      }
    }
    .card-title {
      margin-top: 20px;
    }
    .number {
      margin: 0;
      position: absolute;
      top: -30px;
      left: 15px;
    }
  }

}

@media screen and (max-width: 644px) {
  .active-news-list .news-list-content .news-list-card.news-list-0 {
    background-position-x: -280px;
  }
}

@media screen and (max-width: 600px) {
  .advantage-title-block .card-title {
    font-size: 20px;
    line-height: 32px;
  }
  .advantage-text .card-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
  }
  .investments-platform-advantage {
    min-height: 650px;
  }
}

@media screen and (max-width: 675px) and (min-width: 576px) {
  .footer {
    .title {
      font-size: 18px;
    }

    .text {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@media screen and (max-width: 575px) {
  .footer {
    .panel-title {
      position: relative;
    }

    .panel-title::after {
      content: url("../img/down_arrow.svg");
      color: #333;
      top: -2px;
      position: absolute;
      margin-left: 8px;
    }

    .panel-title[aria-expanded="true"]::after {
      content: url("../img/up_arrow.svg");
    }

    .collapse:not(.show) {
      display: none;
    }

    .blocks {
      margin-bottom: 45px;
    }

    .license {
      font-size: 15px;
      margin-bottom: 5px;
    }
  }
  .action-container {
    background-position-x: calc(100% + 100px);
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .active-news-list .news-list-content .news-list-card.news-list-0 {
    background-position-x: center;
    height: 330px;
    padding: 25px 20px 10px 20px;
  }
  .active-news-list .news-list-content .news-list-card.news-list-0 .card-body .news-list-footer .news-list-title {
    font-size: 20px;
    line-height: 26px;
  }
  .active-news-list .news-list-content .news-list-card .card-body .news-list-footer .news-list-desc {
    margin-bottom: 20px;
  }
  .active-news-list .news-list-content .news-list-card.news-list-0 .card-body .news-list-footer .news-list-desc {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.83);
  }
  .active-news-list .news-list-content .news-list-card .card-body .news-list-footer .news-list-tags .news-list-tag {
    font-size: 16px;
  }
  .active-news-list .news-list-content .news-list-card.news-list-0:before {
    height: 330px;
  }
}

@media screen and (max-width: 565px) {
  .banner-container {
    .banner-content {
      .statistic {
        margin-top: 20px;

        .stat:not(:last-child) {
          display: none;
        }
      }
    }
  }
  .buttons__statistics {
    display: flex;
    flex-direction: column-reverse;
  }
  .buttons {
    margin-top: 30px;
  }
  .container-fluid.index {
    background-position: right 32%, right 25%;
    background-size: 42%, 34%;
  }
  .container-fluid.investments {
    background-position: 179% 100px;
    background-size: 415px;
    background-image: url(../img/investment/invest-banner-circle.png);
  }
  .container.investments-banner.banner-container .header-h1 {
    font-size: 22px;
    line-height: 35px;
  }
}

@media screen and(max-width: 500px) {
  .container-fluid.investments {
    background-size: 315px;
    background-position: 144% 100px;
  }
}

@media screen and(max-width: 480px) {
  .how-it-works {
    .title {
      margin: 15px 0;
    }

    .number {
      width: 45px;
      height: 45px;
      font-size: 24px;
      top: -22px;
    }

    .cards {
      margin-top: 10px;

      .col-card {
        margin: 25px 0 8px 0;
      }
    }
  }
  .container-title, .active-projects .container-title {
    font-size: 24px;
    line-height: 34px;
  }
  .container-desc {
    font-size: 16px;
    color: #335FD1;
  }
  .navbar-brand {
    padding: 0;

    img {
      height: 38px;
    }
  }
  .navbar-toggler {
    padding: 0;
    height: 48px;
    width: 49px;
  }
  .navbar-toggler-user {
    width: 49px;
  }
  .navbar-toggler__user a {
    height: 48px;
  }
  .navbar-expand-lg.top-menu .nav-link {
    padding-left: 0;
  }
  .navbar-toggler-icon {
    width: 29px;
    height: 29px;
  }
  .navbar-toggler-user img {
    width: 21px;
  }
  .footer {
    .title {
      font-size: 18px;
    }
  }
  .banner-container {
    padding-top: 90px;

    .banner-content .form-text {
      max-width: 67%;
    }
  }
  .container-fluid.index {
    background-image: url(../img/index/nout-mob.svg), url(../img/index/mobile-banner-circle.png);
    background-position: right 20%, right 25%;
    background-size: 54%, 36%;
  }
  .active-projects {
    background: none;
    .project-container .project-card {
      margin-bottom: 50px;
      box-shadow: 10px 12px 20px rgba(97, 110, 122, 0.15);
    }
  }
  .info-title-link {
    font-size: 18px;
  }
  .action-container {
    background-position-x: calc(100% + 75px);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    .btn {
      display: none;
    }
    .text {
      margin: 30px 0 10px;
    }
  }
  .news-container {
    .news-card {
      height: 255px;
      width: 255px;
      padding: 20px;
    }

    .news-card:before {
      width: 100%;
      height: 255px;
    }

    .swiper-slide {
      width: 255px;
    }

    .news-title {
      .white-text {
        font-size: 18px;
        line-height: 1.3px;
      }
    }
  }
  .news-container {
    margin-top: 40px;
    margin-bottom: 20px;
    .container-title {
      font-size: 24px;
      line-height: 34px;
    }
  }
  .container-fluid.investments .investments-banner {
    .number {
      width: 45px;
      height: 45px;
      font-size: 24px;
      top: -22px;
    }
    .card-title {
      margin-top: 10px;
    }
    .col-card {
      margin: 25px 0 15px 0;
    }
  }
  .terms-container p {
    text-align: center;
  }
  .investments-platform-advantage {
    min-height: 600px;
    background-size: 79%, 72%;
  }
  .faq {
    padding-top: 30px;
    padding-bottom: 70px;
    background: linear-gradient(284.51deg, #D0E0FE -42.04%, rgba(229, 236, 248, 0) 130.95%);
  }
  .faq .card .card-header button {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 0;
  }
  .faq .card .card-body {
    font-size: 18px;
    line-height: 28px;
  }
  .faq .card.active {
    border-radius: 15px;
  }
  .faq .card {
    padding: 20px;
  }
  .faq .card .card-header .close-button {
    width: 50px;
    height: 50px;
    svg {
      width: 13px;
    }
  }
  .active-news-list .news-list-content .news-list-card {
    &.news-list-0::before, &::before {
      height: -webkit-fill-available;
      height: -moz-available;
      height: fill-available;
      min-height: 330px;
    }
  }
  .active-news-list .news-list-content .news-list-card {
    height: auto;
    min-height: 330px;
    &.news-list-0 {
      height: auto;
    }
  }
  .page-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and(max-width: 440px) {
  .container-fluid.index {
    background-position: right 18%, right 23%;
    background-size: 57%, 37%;
  }
  .banner-container .banner-content {
    .header-h1, .banner-container .banner-content h1, .header-h1-gradient {
      font-size: 28px;
      line-height: 35px;
    }

    .form-text {
      margin-top: 25px;
      font-size: 16px;
      line-height: 23px;
    }

    .title {
      font-size: 20px;
      line-height: 19px;
      margin-bottom: 5px;
    }

    .text {
      font-size: 14px;
    }

    .form-text {
      max-width: 66%;
    }
  }
  .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .buttons a {
    width: 48%;
  }
  .buttons .btn {
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
  .terms-container .project-container .project-content .card-body {
    font-size: 21px;
    line-height: 27px;
    padding: 30px;
  }
  .terms-container .project-container .project-content {
    background-position: 99% 6%;
    background-size: 15%;
    padding-top: 24px;
    margin-bottom: 8px;
  }
  .terms-container {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .investments-platform-advantage .container-title {
    font-size: 22px;
  }
  .advantage-title-block .card-title {
    line-height: 25px;
  }
  .advantage-text .card-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
  }
  .investments-platform-advantage {
    background-size: 94%, 84%;
    margin-bottom: 40px;
    margin-top: 40px;
    min-height: 640px;
  }
}

@media screen and (max-width: 414px) {
  .about-container .about-content .container-title {
    font-size: 20px;
  }
  .container-desc {
    font-size: 14px;
  }
  .about-container {
    padding-top: 60px;
  }
  .banner-container .banner-content .form-text {
    font-size: 15px;
    line-height: 22px;
    max-width: 73%;

    span:last-child {
      display: block;
    }
  }
  .buttons {
    margin-top: 67px;
  }
  .container-fluid.index {
    background-image: url(../img/index/nout-mob.svg), url(../img/index/mobile-banner-circle.png), url(../img/index/touch-center.png), url(../img/index/about-back.png);
    background-repeat: no-repeat;
    background-position: right 21%, right 34%, right 74%, left 100%;
    background-size: 67%, 43%, 44%, 47%;
  }
  .about-container .about-grid {
    padding: 0 !important;
  }
  .about-content-link {
    margin-top: 15px;
  }
  .about-container {
    padding-bottom: 60px;
  }
  .container-desc {
    color: #5ABB97;
  }
  .platform-advantage {
    padding-top: 50px;
    .btn-group {
      margin-top: 25px;
    }
    .btn-white {
      border-radius: 0 5px 5px 0;
    }
    .btn-blue {
      border-radius: 5px 0 0 5px;
    }
    .card-container {
      margin-bottom: 30px;
    }
    .btn {
      padding: 12px;
    }
  }
  .active-projects .project-container .project-content {
    width: 330px;
    .project-card .card-body .project-head {
      height: 150px;
      padding: 20px;
      &::before {
        background: rgba(0, 0, 0, 0.3);
        height: 150px;
      }
    }
  }
  .container-title, .active-projects .container-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 1000;
  }
  .active-projects .project-container .project-card .card-body .project-content {
    .project-number {
      font-size: 14px;
    }
    .project-company {
      font-size: 14px;
    }
  }
  .active-projects {
    padding-top: 60px;
  }
  .info .faq-img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
  .faq-img-top {
    width: 33px;
  }
  .faq-card-title {
    margin-top: 3px;
    font-size: 20px;
    margin-left: 20px;
  }
  .faq-card-show-hide::after {
    bottom: 4px;
    margin-left: 80px;
  }
  .info {
    .questions-container a {
      line-height: 22px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 20px;
      }
    }
    .info-content-block {
      padding-top: 60px;
    }
    .info-container {
      margin-bottom: 40px;
    }
  }
  .action-container {
    .container-title {
      font-size: 22px;
    }
    .text {
      margin: 10px 0 0;
    }
  }
  .news-container .container-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 1000;
  }
  .news-container .news-card .news-title .white-text {
    font-size: 20px;
    line-height: 24px;
  }
  .container-fluid.investments {
    background-image: url(../img/investment/investments-banner-mob.png);
    background-size: auto;
    background-position: 100% 150px;
  }
  .container.investments-banner.banner-container .banner-content .form-text {
    max-width: 62%;
  }
  .container.investments-banner.banner-container {
    .header-h1 {
      font-size: 28px;
      line-height: 40px;
    }
    .banner-content .form-text {
      font-size: 18px;
      line-height: 25px;
      max-width: 74%;
    }
  }
  .investments-banner .buttons a {
    width: 100%;
    .btn {
      font-size: 20px;
    }
  }
  .banner-container .banner-content .buttons .btn-green span {
    display: inline-block;
  }
  .investments-platform-advantage {
    min-height: 620px;
  }
}

@media screen and(max-width: 390px) {
  .banner-container .banner-content .form-text {
    max-width: 77%;
  }
  .investments-platform-advantage {
    min-height: 590px;
  }
}

@media screen and(max-width: 375px) {
  .active-projects .project-container .project-content {
    width: 300px;
  }
  .container-fluid.index {
    background-position: right 23%, right 33%, right 72%, left 100%;
    background-size: 69%, 44%, 49%, 52%;
  }
  .buttons {
    margin-top: 80px;
  }
  .banner-container .banner-content {
    .header-h1, .banner-container .banner-content h1, .header-h1-gradient {
      font-size: 26px;
      line-height: 33px;
    }

    .form-text {
      font-size: 15px;
      line-height: 22px;
    }

    .title {
      font-size: 19px;
    }

    .text {
      font-size: 13px;
    }

    .form-text {
      max-width: 80%;
    }
  }
  .banner-container {
    padding-top: 82px;
  }
  .buttons .btn {
    line-height: 48px;
  }
  .banner-container .banner-content {
    .header-h1, .banner-container .banner-content h1, .header-h1-gradient {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .container-title {
    font-size: 20px;
    line-height: 24px;
  }
  .platform-advantage .btn-group a .btn {
    font-size: 16px;
  }
  .container-title, .active-projects .container-title {
    font-size: 20px;
    line-height: 22px;
  }
  .action-container {
    margin-top: 40px;
    padding-top: 70px;
  }
  .container.investments-banner.banner-container {
    .header-h1 {
      font-size: 26px;
      line-height: 38px;
    }
    .banner-content .form-text {
      font-size: 16px;
      line-height: 23px;
      max-width: 75%;
    }
  }
  .investments-banner .buttons a {
    .btn {
      font-size: 18px;
    }
  }
  .faq .info-container {
    margin-top: 25px;
  }
  .faq .card {
    padding: 15px;
    border-radius: 10px;
  }
  .faq .card .card-header button {
    font-size: 16px;
    line-height: 22px;
  }
  .faq .card .card-body {
    font-size: 16px;
    line-height: 24px;
  }
  .faq {
    padding-top: 15px;
    padding-bottom: 40px;
  }

}

@media screen and(max-width: 340px) {
  .active-projects .project-container .project-content {
    width: 270px;
    .project-card .card-body .project-head {
      height: 130px;
      padding: 15px;
      &::before {
        background: rgba(0, 0, 0, 0.3);
        height: 130px;
      }
    }
  }
  .active-projects .project-container .project-card .card-body .project-content .project-number {
    font-size: 14px;
  }
  .container-fluid.index {
    background-position: right 23%, right 34%, right 72%, left 100%;
    background-size: 79%, 51%, 49%, 57%;
  }
  .container-desc {
    font-size: 12px;
  }
  .container-title {
    font-size: 20px;
    line-height: 24px;
  }
  .how-it-works {
    .number {
      width: 36px;
      height: 36px;
      font-size: 18px;
      line-height: 25px;
      top: -18px;
      left: 13px;
    }

    .cards {
      margin-top: 15px;

      .col-card {
        margin: 20px 0 8px 0;

        .card-number {
          padding: 13px;
        }
      }
    }

    .title {
      margin: 12px 0 5px;
    }

    .text {
      font-size: 14px;
      line-height: 18px;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .navbar-brand img {
    height: 30px;
  }
  .navbar-toggler {
    height: 38px;
    width: 39px;
  }
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-toggler-user {
    width: 39px;
  }
  .navbar-toggler__user {
    a {
      height: 38px;
    }

    img {
      width: 16px;
    }
  }
  .navbar-expand-lg.top-menu .nav-link {
    padding-bottom: 0;
  }
  .banner-container .banner-content {
    .header-h1, .banner-container .banner-content h1, .header-h1-gradient {
      font-size: 24px;
      line-height: 32px;
    }

    .form-text {
      font-size: 15px;
      line-height: 22px;
    }

    .title {
      font-size: 18px;
      line-height: 45px;
      margin-bottom: 0;
    }

    .text {
      font-size: 12px;
      line-height: 16px;
      max-width: 150px;
    }

    .form-text {
      max-width: 80%;
      font-size: 14px;
      line-height: 20px;
      margin-top: 15px;
    }
  }
  .banner-container {
    padding-top: 82px;
  }
  .buttons .btn {
    line-height: 48px;
  }
  .container-fluid {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .row {
    margin-right: -10px !important;
    margin-left: -10px !important;
  }
  .top-menu {
    padding: 12px 10px !important;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .buttons {
    margin-top: 70px;
  }
  .platform-advantage {
    .container {
      padding: 0;
    }
    .btn-group a .btn {
      font-size: 16px;
      line-height: 30px;
    }
    .btn-group {
      margin-top: 20px;
    }
    .card-container {
      padding: 0 10px!important;
    }
  }
  .faq-card-title {
    margin-top: 0;
    font-size: 18px;
    margin-left: 15px;
  }
  .faq-card-show-hide::after {
    font-size: 14px;
    bottom: 9px;
    margin-left: 76px;
  }
  .info .questions-container a {
    font-size: 14px;
  }
  .action-container {
    padding-top: 90px;
    padding-bottom: 95px;
    .text {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
    .container-title {
      font-size: 20px;
      line-height: 55px;
    }
  }
  .news-container .container-title {
    font-size: 20px;
    line-height: 24px;
  }
  .news-container .news-card .news-title .white-text {
    font-size: 18px;
  }
  .platform-advantage .card-container .card-content, .active-projects .project-container.mobile-block {
    padding: 0;
  }
  .info-content-block .col-md-12, .news-container .col-md-12 {
    padding: 0!important;
  }
  .news-container .container-fluid.right-margin-none {
    padding: 0!important;
  }
  .container.investments-banner.banner-container {
    .header-h1 {
      font-size: 24px;
      line-height: 32px;
    }
    .banner-content .form-text {
      font-size: 14px;
      line-height: 20px;
      max-width: 75%;
    }
  }
  .investments-banner .buttons a {
    .btn {
      font-size: 14px;
    }
  }
  .container-fluid.investments {
    background-position: 100% 130px;
  }
  .container-fluid.investments .investments-banner .banner-content .form-text {
    margin-top: 15px;
  }
  .container-fluid.investments .investments-banner .banner-content .buttons {
    margin-top: 35px;
  }
  .container-fluid.investments .investments-banner {
    .number {
      width: 36px;
      height: 36px;
      font-size: 18px;
      line-height: 25px;
      top: -18px;
      left: 13px;
    }
    .card-title {
      margin: 12px 0 5px;
    }
    .card-text {
      font-size: 14px;
      line-height: 18px;
    }
    .col-card {
      margin: 20px 0 8px 0;
    }
  }
  .terms-container .project-container .project-content {
    margin-bottom: 0;
    margin-top: 0;
    background-position: 99% 12%;
    .card-body {
      padding: 26px 40px;
      font-size: 16px;
      line-height: 22px;
    }
    .project-card {
      min-height: 115px;
    }
  }
  .terms-container .project-container {
    margin-top: 5px;
  }
  .investments-platform-advantage .container-title {
    font-size: 20px;
    line-height: 24px;
  }
  .investments-platform-advantage .faq-img {
    width: 48px;
    height: 48px;
  }
  .investments-platform-advantage .faq-img img {
    width: 25px;
  }
  .advantage-title-block .card-title {
    font-size: 18px;
    line-height: 24px;
  }
  .advantage-text .card-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .investments-platform-advantage {
    min-height: 490px;
  }
  .faq .card .card-header button {
    font-size: 14px;
    line-height: 18px;
  }
  .faq .card .card-header .close-button {
    width: 33px;
    height: 33px;
  }
  .faq .card .card-header .close-button svg {
    width: 8px;
  }
  .faq .card {
    padding: 13px;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  .faq .card .card-body {
    font-size: 14px;
    line-height: 18px;
  }
  .terms-container .col-md-12, .investments-platform-advantage .container, .info-content-block .col-md-10, .news-list-container .col-12, .news-list-footer .col-12 {
    padding: 0!important;
  }
  .active-news-list .news-list-content .news-list-card {
    padding: 20px 13px 25px 13px;
    .news-list-0 {
      padding: 20px 13px 10px 13px;
    }
    .card-body {
      .news-list-head .news-list-date {
        font-size: 16px;
        line-height: 24px;
      }
      .news-list-footer {
        .news-list-title {
          font-size: 18px;
          line-height: 24px;
        }
        .news-list-desc {
          font-size: 14px;
          line-height: 18px;
        }
        .news-list-tags .news-list-tag {
          font-size: 12px;
          padding: 8px 15px;
        }
      }
    }
  }
  .active-news-list .news-list-content .news-list-card.news-list-0 .card-body .news-list-footer {
    .news-list-desc {
      font-size: 18px;
      line-height: 24px;
    }
    .news-list-desc {
      font-size: 14px;
      line-height: 18px;
    }
    .news-list-tags .news-list-tag {
      font-size: 12px;
      padding: 8px 15px;
    }
  }
  .active-news-list .news-list-content {
    margin-bottom: 15px;
  }
  .page-title {
    font-size: 24px;
    line-height: 32px;
  }

}

@media screen and (max-width: 320px) {
  .active-projects .project-container .project-content {
    width: 273px;
  }
  .container-fluid.index {
    background-position: right 27%, right 37%, right 71%, left 100%;
    background-size: 76%, 48%, 49%, 56%;
  }
  .about-container {
    margin-top: 35px;

    .about-content .container-title {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .platform-advantage .btn {
    padding: 8px 12px;
  }
}